{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign Up" %} | WorkBy{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{% trans "Create your WorkBy Account" %}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.username|as_crispy_field }}
                                {{ form.email|as_crispy_field }}
                                {{ form.password1|as_crispy_field }}
                                {{ form.password2|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                                {{ form.last_name|as_crispy_field }}
                                {{ form.user_type|as_crispy_field }}
                                {% if form.captcha %}
                                    {{ form.captcha|as_crispy_field }}
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="form-group mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms_agree" required>
                                <label class="form-check-label" for="terms_agree">
                                    {% trans "I agree to the" %} <a href="#" target="_blank">{% trans "Terms of Service" %}</a> {% trans "and" %} <a href="#" target="_blank">{% trans "Privacy Policy" %}</a>
                                </label>
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                    <hr>
                    <div class="mt-3 text-center">
                        <p>{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}">{% trans "Log In" %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 